body {
    font-family: Arial;
    margin: 0;
   background-color:ghostwhite;
  }
  .header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }
  .header,h1{
    color:white;
  }
  .content {
  padding:20px;
  }
  .btn-group button {
    background-color: darkslateblue;
    border: 2px solid blue;
    color: beige; 
    padding: 24px 40px; 
    cursor: pointer; 
    width: 100%; 
    display: block;
    border-radius:5px;
    font-size:20px;
    font-weight:bold;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  
  .btn-group button:not(:last-child) {
    border-bottom: none; 
  }
  
  .btn-group button:hover {
    background-color: cornflowerblue;
     color:purple;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }