<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<div class="loginbox">
<img src="/assets/images/pic6.png" class="avatar">
<h6>Register by filling the information below</h6>
<form>
<ul class="nav nav-tabs">
    <li><a href="#">Company</a></li>
    <li><a href="#">Customer</a></li>
  </ul>
<br>
<br>
<p>Username</p>
<input type="text" name="" placeholder="enter username">
<p>Password</p>
<input type="password" name="" placeholder="enter password">
<p>Contact-number</p>
<input type="text" name="" placeholder="enter contact-number">
<input type="submit" name="" value="Sign Up">
<a href="#">Remember Password?</a>
</form>
</div>
</body>
</html>
